  <%= image_tag 'ipad_image.jpg', :class => 'welcome_img' %>
  <div class="welcome_dialog">
    <h3>Welcome to LootLo! A collective buying Xperience</h3>
    <p>The price of IPAD keeps falling as more folks join the buying wagon.Login to your facebook account and post this deal on your wall .</p>
    <div class="clearfix">
      <% form_tag :controller => 'login', :action => 'login' do %>
        <div class="login_sector">
          <div class="login_prompt"><b>Login</b>:</div>
          <div class="clearfix"><%= label_tag(:username, 'Username') %><%= text_field_tag :username, params[:username], :size => 20, :class => 'inputtext' %></div>
          <div class="clearfix"><%= label_tag(:password, 'Password') %><%= password_field_tag :password, params[:password], :size => 20, :class => 'inputtext' %></div>
          <%= submit_tag('Login', :class => 'inputsubmit') %>
        </div>
      <%- end -%>

      <%- if true -%>
        <div class="login_sector_fb">
          <div class="login_prompt">Or <b>login</b> with Facebook:</div>
            <%= render :partial => '/shared/fbconnect_button' %>
        </div>
      <%- end -%>
    </div>

    <div class="signup_container">Don't have an account? <%= link_to 'Register Now!', :controller => 'login', :action => 'register' %>
    </div>
  </div>
